.header
{
    width:100%;
    background: burlywood;
    height: 150px;
}
.left-section
{
    width: 20%;
    float: left;
    height: 400px;
    background: rgb(72, 23, 65);
}
.right-section
{
    width: 80%;
    float: left;
    height: 400px;
    background: darkmagenta;
}
.footer
{
    height: 140px;
    width: 100%;
    background: darkcyan;
    float: left;
}
/* remove entire body margin */
body{
    margin: 0; 
}