button{
    background: green;
    color: #fff;
    font-size: 20px;
    
}
#paragraph1{
color: brown;
}
#paragraph2{
    color: darkblue;
}
.heading
{
    color: darkgoldenrod;
    font-size: 30px;
    font-family: sans-serif;
}
.first-div{
    width: 500px;
    height: 400px;
    background:cornflowerblue;
    margin-top: 10px;
    border: 2px solid;
    padding-left: 50px;

}
.extra-div
{
    background: rgb(132, 84, 20);
    width: 500px;
    height: 300px;
}
.extra-div-inner
{
height: 150px;
width: 150px;
background: cadetblue;
margin: 50px;
padding: 50px;
}